.vscode/**
.vscode-test/**
node_modules/**
../core/**
../dashboard/**
../node_modules/**
../.git/**
../.fasttrack/**
../.*
../*.json
../*.js
../*.md
**/node_modules/**
out/**
src/**
tsconfig.json
webpack.config.js
.gitignore
**/*.map
**/*.ts 